<template>
  <div id="foo">
    <div v-for="thing in things" :class="`things-${thing}`">
      <button type="submit"></button>
    </div>
    <h1 class="heading">Hello</h1>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        things: [1,2,3,4]
      }
    }
  }
</script>

<style>

</style>